.lower_court_decision_dates p {
  padding: 0px;
  margin: 0px;
}

nav a {
  padding: 3px;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.contactlist {
  margin: 0px;
  padding: 0px;
}

.header-column {
  float: left;
  width: 50%;
  padding: 10px;
}
.header-row:after {
  content: "";
  display: table;
  clear: both;
}

#toggle_dkt_yr:hover,
#toggle_date_retrieved:hover,
#toggle_date_docketed:hover,
#toggle_lwr_ct:hover,
#toggle_lwr_ct_dec_dt:hover,
#toggle_lwr_ct_cs_num:hover,
#toggle_latest_proceeding:hover,
#toggle_proceedings:hover,
#toggle_contacts:hover {
  color: blue;
}

.link_text_column_visible {
  color: darkgray;
}
.link_text_column_hidden {
  color: lightgray;
}

.proceedings,
.contacts,
.dkt_yr,
.lower_court_decision_date,
.lower_court_case_number,
.lower_court,
.date_retrieved,
.date_docketed,
.latest_proceeding {
  animation-name: column_animation;
  animation-duration: 2s;
}

@keyframes column_animation {
  from {
    background-color: lightblue;
  }
  to {
    background-color: white;
  }
}

.error {
  border: 2px solid red;
}

.btn-group-toggle {
  margin: 3px;
  padding: 3px;
}
